@model IEnumerable<PhuonQuocChien106.Models.PQC0106>

@{
    ViewData["Title"] = "Index";
}

<h1>Trang chủ</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PQCId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQCName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQCGender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PQCId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQCName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQCGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PQCId">Sửa</a> |
                <a asp-action="Read" asp-route-id="@item.PQCId">Đọc</a> |
                <a asp-action="Delete" asp-route-id="@item.PQCId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
